<div class="modal fade" id="authModal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header"><h5>Вход / Регистрация</h5><button class="btn-close" data-bs-dismiss="modal"></button></div>
            <div class="modal-body">
                <input id="loginUser" class="form-control mb-2" placeholder="Логин" />
                <input id="loginPass" type="password" class="form-control mb-2" placeholder="Пароль" />
                <button id="loginSubmit" class="btn btn-danger w-100 mb-2">Войти</button>
                <hr />
                <input id="regUser" class="form-control mb-2" placeholder="Логин (мин 3)" />
                <input id="regPass" type="password" class="form-control mb-2" placeholder="Пароль (мин 4)" />
                <input id="regEmail" class="form-control mb-2" placeholder="Email (опц)" />
                <button id="regSubmit" class="btn btn-danger w-100">Зарегистрироваться</button>
                <div id="authError" class="text-danger mt-2"></div>
            </div>
        </div>
    </div>
</div>