@model List<CodeDuelArena.Models.QuestModel>
<h2 class="text-danger">🛠️ КВЕСТЫ</h2>
@foreach(var q in Model)
{
    <div class="card bg-dark mb-3">
        <div class="card-header bg-danger">@q.Title [@q.Points pts]</div>
        <div class="card-body">
            <p>@q.Description</p>
            <pre class="bg-black text-warning p-2">@q.LegacyCode</pre>
            <textarea id="code_@q.Id" class="form-control bg-dark text-white" rows="4"></textarea>
            <button class="btn btn-danger mt-2" onclick="submitQuest(@q.Id)">Сдать</button>
        </div>
    </div>
}